body {
  background-color: rgb(220, 192, 155);

}

h1 {
  font: small-caps bold 60px pt serif, serif;
  text-align: center;
  color: rgb(206, 65, 0);
  letter-spacing: 10px;
  white-space: nowrap;
  overflow: hidden;
}

p {
  background-color: rgb(206, 65, 0);
  color: white;
  padding: 20px;
  font: italic 18px moncao, Monospace;
  height: 300px;
  width: 700px;
  display: flex;
  text-align: right;
  margin: 5px;
  border-radius: 30px;
  align-items: center;
  word-spacing: 1px;


}

img {
  width: 300px;
  height: 300px;
  clip-path: circle(50%);
  object-fit: cover;
  align-self: center;


}

.block {
  display: flex;
  position: fixed;
  align-items: center;
}